$black: #0F1435;
$primary: #F2F2FF;
$accent: #F6255A;


$xl: 1200px;
// $lg: px;
$md: 850px;
$sm: 575px;
// $xs: px;


%images {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

%rubik-300 {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

%rubik-400 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik' , sans-serif;
    font-weight: 500;
}

%rubik-700 {
    font-family: 'Rubik' , sans-serif;
    font-weight: 700;
}