@import "vars";
@import "fonts";
@import "libs";
@import "reset";
@import "global";



.header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    padding: 28px 0;
    background-color: #040B3C;

    @media(max-width: $xl) {
        padding: calc(18px + (28 - 18) * ((100vw - 575px) / (1200 - 575))) 0;
    }

    @media(max-width: $sm) {
        padding: calc(16px + (18 - 16) * ((100vw - 320px) / (1200 - 320))) 0 calc(8px + (18 - 8) * ((100vw - 320px) / (1200 - 320)));
    }
}

.logo {
    display: inline-block;
    &__img {
        max-width: 171px;
        width: 100%;
        @media(max-width: $xl) {
          max-width: calc(101px + (171 - 101) * ((100vw - 320px) / (1200 - 320)));
        }
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__btn {
        position: absolute;
        top: 19px;
        right: 16px;

        display: none;
        width: 24px;
        height: 24px;

        background-image: url("../images/menu-btn.svg");
        @extend %images;

        @media(max-width: $sm) {
            display: inline-block;
        }
    }

    & &__list {
        display: flex;

        @media(max-width: $sm) {
            position: absolute;
            top: calc(60.02px + (70.72 - 60.02) * ((100vw - 320px) / (575 - 320)));
            left: 0;
            
            display: inline-block;
            width: 100%;
            padding: 35px 18px;

            border-top: 1px solid #ffffff;
            background-color: #040C3E;
    
            transition: transform 0.5s;

            transform: translateY(-250px);
    
            &--active {
                transform: translateY(0);
            }
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: 55px;
            @media(max-width: $xl) {
              margin-right: calc(16px + (55 - 16) * ((100vw - 575px) / (1200 - 575)));
            }
        }

        &:last-child {
            a {
                color: $accent;
                text-transform: uppercase;

                border-bottom: 1px solid transparent;
                &:hover {
                    border-color: $accent;
                }
            }
        }
    }

    &__link {
        @extend %rubik-500;
        font-size: 14px;
        line-height: 1;
        color: $primary;

        transition: color 0.3s, border-color 0.3s;

        &:hover {
            color: $accent;
        }

        @media(max-width: $xl) {
            font-size: calc(12px + (14 - 12) * ((100vw - 575px) / (1200 - 575)));
        }
    }

    &__accent {
        color: $accent;
    }
}

.hero {
    position: relative;

    background-image: url("../images/hero-bg.png");
    @extend %images;

    @media(max-width: $sm) {
        background-image: url("../images/hero-bg-sm.png");
        background-position: top;
        background-size: contain;
    }

    &::before {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: 100%;
    }

    &__top {
        margin-bottom: 200px;
        padding-top: 16px;
        color: $primary;
        @media(max-width: $xl) {
            margin-bottom: calc(80px + (200 - 80) * ((100vw - 320px) / (1200 - 320)));
            padding-top: calc(36px + (16 - 36) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__img {
        max-width: 770px;
        width: 100%;
        margin-bottom: 15px;

        @media(max-width: $xl) {
            max-width: calc(263px + (770 - 263) * ((100vw - 320px) / (1200 - 320)));
            margin-bottom: calc(17px + (15 - 17) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__inner {
        max-width: 500px;
    }

    &__title {
        margin-bottom: 20px;

        @extend %rubik-500;
        font-size: 24px;
        line-height: 1.2;

        @media(max-width: $xl) {
            margin-bottom: calc(14px + (20 - 14) * ((100vw - 320px) / (1200 - 320)));
            font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__text {
        margin-bottom: 55px;

        @extend %rubik-300;
        font-size: 24px;
        line-height: 1.2;

        @media(max-width: $xl) {
            margin-bottom: calc(30px + (55 - 30) * ((100vw - 320px) / (1200 - 320)));
            font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__datetime {
        margin-bottom: 55px;

        @extend %rubik-700;
        font-size: 36px;
        line-height: 1.2;

        @media(max-width: $xl) {
            margin-bottom: calc(30px + (55 - 30) * ((100vw - 320px) / (1200 - 320)));
            font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__date {
        margin-right: 24px;
        padding-right: 27px;
        border-right: 3px solid $accent;

        @media(max-width: $xl) {
            margin-right: calc(10px + (27 - 10) * ((100vw - 320px) / (1200 - 320)));
            padding-right: calc(14px + (27 - 14) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__btn {
        max-width: 310px;
        height: 63px;
        
        @media(max-width: $xl) {
            max-width: calc(288px + (310 - 288) * ((100vw - 320px) / (1200 - 320)));
            height: calc(49px + (63 - 49) * ((100vw - 320px) / (1200 - 320)));
        }
    }
}

.hero-info {
    color: $primary;

    &__title {
        margin-bottom: 80px;
        @media(max-width: $xl) {
            margin-bottom: calc(40px + (80 - 40) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__wrapper {
        display: grid;
        grid-template: repeat(2, 100px) / repeat(2, 1fr);
        gap: 30px;

        @media(max-width: $xl) {
            gap: calc(12px + (30 - 12) * ((100vw - 320px) / (1200 - 320)));
        }

        @media(max-width: $sm) {
            grid-template: repeat(4, 80px) / 1fr;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        padding: 0 20px;

        border: 3px solid #333C72;
        border-radius: 8px;

        @media(max-width: $xl) {
            padding: 0 calc(14px + (20 - 14) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__text {
        position: relative;

        padding-left: 33px;

        @extend %rubik-700;
        line-height: 1.2;

        &::before {
            content: "";
            position: absolute;
            left: 0;

            width: 24px;
            height: 24px;

            background-image: url("../images/check-square.svg");
            @extend %images;
        }

        @media(max-width: $xl) {
            padding-left: calc(30px + (33 - 30) * ((100vw - 320px) / (1200 - 320)));
            font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__text-name {
        @extend %rubik-300;
    }
}

.info {
    padding: 200px 0 145px;

    @media(max-width: $xl) {
        padding: calc(80px + (200 - 80) * ((100vw - 320px) / (1200 - 320))) 0 calc(60px + (145 - 60) * ((100vw - 320px) / (1200 - 320)));
    }

    &__title {
        margin-bottom: 65px;
        @media(max-width: $xl) {
            margin-bottom: calc(40px + (65 - 40) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__wrapper {
        display: grid;
        grid-template: repeat(2, 100px) / repeat(3, 1fr);
        gap: 40px 5px;
        color: $primary;

        @media(max-width: $xl) {
            row-gap: calc(18px + (40 - 18) * ((100vw - 320px) / (1200 - 320)));
        }

        @media(max-width: $lg) {
            grid-template: repeat(3, 100px) / repeat(2, 1fr);
        }

        @media(max-width: $sm) {
            grid-template: repeat(6, minmax(40px, auto)) / 1fr;
            column-gap: 0;
        }
    }

    &__item {
        padding: 0 80px;

        @extend %images;
        background-position: left top;
        background-size: 56px 56px;

        @media(max-width: $xl) {
            padding: 0 calc(0px + (80 - 0) * ((100vw - 320px) / (1200 - 320))) 0 calc(46px + (80 - 46) * ((100vw - 320px) / (1200 - 320)));

            background-size: calc(36px + (56 - 36) * ((100vw - 320px) / (1200 - 320))) calc(38px + (56 - 38) * ((100vw - 320px) / (1200 - 320)));
        }

        &--1 {
            background-image: url("../images/info-item1.svg");
        }

        &--2 {
            background-image: url("../images/info-item2.svg");
        }

        &--3 {
            padding-right: 0;
            background-image: url("../images/info-item3.svg");
        }

        &--4 {
            padding-right: 0;
            background-image: url("../images/info-item4.svg");
        }

        &--5 {
            background-image: url("../images/info-item5.svg");
        }

        &--6 {
            padding-right: 0;
            background-image: url("../images/info-item6.svg");
        }
    }

    &__text {
        @media(max-width: $xl) {
            font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1200 - 320)));
        }
    }
}

.location {
    padding: 140px 0;

    background-image: url("../images/location-bg.png");
    @extend %images;

    @media(max-width: $xl) {
        padding: calc(60px + (140 - 60) * ((100vw - 320px) / (1200 - 320))) 0;
    }

    &__title {
        margin-bottom: 74px;

        @media(max-width: $xl) {
            margin-bottom: calc(40px + (74 - 40) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 63px 98px 70px 89px;

        border-radius: 20px;
        background-color: $primary;

        @media(max-width: $xl) {
            padding: calc(40px + (63 - 40) * ((100vw - 320px) / (1200 - 320))) calc(18px + (98 - 18) * ((100vw - 320px) / (1200 - 320))) calc(40px + (70 - 40) * ((100vw - 320px) / (1200 - 320))) calc(18px + (89 - 18) * ((100vw - 320px) / (1200 - 320)));
        }

        @media(max-width: $lg) {
            flex-direction: column;
            justify-content: center;
            max-width: calc(290px + (650 - 290) * ((100vw - 320px) / (1200 - 320)));
            margin: 0 auto;
        }
    }

    &__inner {
        max-width: 500px;
        margin-right: 20px;
    }

    &__text {
        margin-bottom: 27px;
        p {
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }

        @media(max-width: $xl) {
            margin-bottom: calc(20px + (27 - 20) * ((100vw - 320px) / (1200 - 320)));
            font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1200 - 320)));

            p {
                &:not(:last-child) {
                    margin-bottom: calc(12px + (16 - 12) * ((100vw - 320px) / (1200 - 320)));
                }
            }
        }
    }

    &__btn {
        max-width: 310px;
        height: 63px;

        @media(max-width: $xl) {
            max-width: calc(254px + (310 - 254) * ((100vw - 320px) / (1200 - 320)));
        }

        @media(max-width: $lg) {
            margin-bottom: 35px;
        }
    }
}

.programme {
    padding: 160px 0 100px;

    @media(max-width: $xl) {
        padding: calc(60px + (160 - 60) * ((100vw - 320px) / (1200 - 320))) 0 calc(30px + (200 - 30) * ((100vw - 320px) / (1200 - 320)));
    }

    &__title {
        margin-bottom: 80px;

        @media(max-width: $xl) {
            margin-bottom: calc(40px + (80 - 40) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;

        @media(max-width: $xl) {
            column-gap: calc(10px + (30 - 10) * ((100vw - 575px) / (1200 - 575)));
        }

        @media(max-width: $sm) {
            grid-template: 1fr 1fr / 1fr;
            gap: 16px 0;
        }
    }

    &__aside {
        padding: 78px 70px 78px 80px;

        border-radius: 20px;
        background-color: $primary;

        @media(max-width: $xl) {
            padding: calc(40px + (70 - 40) * ((100vw - 320px) / (1200 - 320))) calc(16px + (70 - 16) * ((100vw - 320px) / (1200 - 320))) calc(40px + (78 - 40) * ((100vw - 320px) / (1200 - 320))) calc(15px + (80 - 15) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__date {
        margin-bottom: 40px;

        @extend %rubik-700;
        font-size: 24px;
        color: $accent;
        text-transform: uppercase;

        @media(max-width: $xl) {
            margin-bottom: calc(24px + (40 - 24) * ((100vw - 320px) / (1200 - 320)));
            font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__item {
        display: grid;
        grid-template: auto auto / 58px 1fr;
        gap: 8px 40px;
        margin-bottom: 24px;

        @media(max-width: $xl) {
            grid-template: auto auto / calc(45px + (58 - 45) * ((100vw - 320px) / (1200 - 320))) 1fr;
            gap: 8px calc(10px + (40 - 10) * ((100vw - 320px) / (1200 - 320)));
            margin-bottom: calc(12px + (24 - 12) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__time,
    &__name {
        font-weight: 700;

        @media(max-width: $xl) {
            font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__text {
        grid-column: 2 / 3;

        @media(max-width: $xl) {
            font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1200 - 320)));
        }
    }
}

.speakers {
    padding: 100px 0 200px;

    @media(max-width: $xl) {
        padding: calc(30px + (100 - 30) * ((100vw - 320px) / (1200 - 320))) 0 calc(60px + (200 - 60) * ((100vw - 320px) / (1200 - 320)));
    }

    &__title {
        margin-bottom: 80px;

        @media(max-width: $xl) {
            margin-bottom: calc(40px + (80 - 40) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__wrapper {
        display: grid;
        grid-template: repeat(4, 365px) / repeat(4, 1fr);
        gap: 30px;

        @media(max-width: $lg) {
            grid-template: repeat(8, 365px) / repeat(2, 1fr);
        }

        @media(max-width: $sm) {
            grid-template: 304px / 1fr;
        }
    }

    &__article {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 43px 30px 48px 40px;

        border-radius: 20px;
        background-color: $primary;

        &:hover {
            .speakers__description {
                opacity: 1;
            }
        }

        @media(max-width: $xl) {
            padding: calc(32px + (43 - 32) * ((100vw - 320px) / (1200 - 320))) calc(56px + (30 - 56) * ((100vw - 320px) / (1200 - 320))) calc(32px + (48 - 32) * ((100vw - 320px) / (1200 - 320))) calc(50px + (40 - 50) * ((100vw - 320px) / (1200 - 320)));
        }

        @media(max-width: $sm) {
            &:not(:last-child) {
                display: none;
            }
        }
    }

    &__img {
        align-self: center;
        justify-self: flex-start;
        display: inline-block;
        width: 128px;
        height: 128px;
        margin-bottom: 30px;

        @media(max-width: $xl) {
            width: calc(95px + (128 - 95) * ((100vw - 951px) / (1200 - 951)));
            height: calc(95px + (128 - 95) * ((100vw - 951px) / (1200 - 951)));
            margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
        }

        @media(max-width: $lg) {
            width: 128px;
            height: 128px;
        }
    }

    &__name {
        margin-bottom: 14px;
        font-size: 24px;
        font-weight: 700;
        color: $black;

        @media(max-width: $xl) {
            margin-bottom: calc(8px + (14 - 8) * ((100vw - 320px) / (1200 - 320)));
            font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__text {
        @media(max-width: $xl) {
            font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__description {
        position: absolute;
        top: -1.2px;
        left: -1.2px;
        right: -1.2px;
        bottom: -1.2px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 43px 22px 48px 40px;

        color: $primary;

        border-radius: 20px;
        background-color: #172575;

        opacity: 0;

        transition: opacity 0.3s;

        p {
            &:not(:last-child) {
                margin-bottom: 14px;
            }
        }
    }
}

.detail {
    padding: 186px 0 155px;

    background-image: url("../images/detail-bg.png");
    @extend %images;

    @media(max-width: $xl) {
        padding: calc(75px + (186 - 75) * ((100vw - 320px) / (1200 - 320))) 0 calc(60px + (155 - 6) * ((100vw - 320px) / (1200 - 320)));
    }

    &__title {
        z-index: 1;
        position: relative;
        margin-bottom: 70px;

        &::before {
            z-index: -1;
            content: "";
            position: absolute;
            top: -10px;
            left: -6px;

            display: none;
            width: 75px;
            height: 70px;

            background-image: url("../images/detail-decor2.png");
            @extend %images;
        }

        @media(max-width: $xl) {
            margin-bottom: calc(63px + (70 - 63) * ((100vw - 320px) / (1200 - 320)));
        }

        @media(max-width: $sm) {
            &::before {
                display: inline-block;
            }
        }
    }

    &__wrapper {
        position: relative;
        padding: 60px 90px 60px 80px;

        border-radius: 20px;
        background-color: $primary;

        &::after {
            content: "";
            position: absolute;
            top: -250px;
            right: 0;

            width: 264px;
            height: 389px;

            background-image: url("../images/detail-decor1.png");
            @extend %images;
        }

        @media(max-width: $xl) {
            padding: calc(40px + (60 - 40) * ((100vw - 320px) / (1200 - 320))) calc(9px + (90 - 9) * ((100vw - 320px) / (1200 - 320))) calc(40px + (60 - 40) * ((100vw - 320px) / (1200 - 320))) calc(15px + (80 - 15) * ((100vw - 320px) / (1200 - 320)));
        }

        @media(max-width: $sm) {
            &::after {
                display: none;
            }
        }
    }

    &__text {
        margin-bottom: 30px;
        p {
            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }

        @media(max-width: $xl) {
            margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
            font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1200 - 320)));
            p {
                &:not(:last-child) {
                    margin-bottom: calc(12px + (24 - 12) * ((100vw - 320px) / (1200 - 320)));
                }
            }
        }
    }

    &__btn {
        max-width: 310px;
        height: 63px;
        @media(max-width: $xl) {
            max-width: calc(254px + (310 - 254) * ((100vw - 320px) / (1200 - 320)));
            font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1200 - 320)));
        }
    }
}

.conferences {
    padding: 200px 0 100px;

    &__title {
        margin-bottom: 80px;
    }

    &__block {
        &:not(:last-child) {
            .conferences__slider {
                margin-bottom: 60px;
            }
        }
    }

    &__year {
        margin-bottom: 40px;

        font-size: 36px;
        font-weight: 700;
        color: $accent;
    }

    &__slider {
        max-width: 1920px;
        margin: 0 auto;
        position: relative;

        .slick-track {
            display: flex;
            gap: 30px;
        }
        .slick-slide {
            max-width: 370px;
            width: 100%;
        }
        .slick-arrow {
            position: absolute;
            top: -80px;
            right: 500px;

            width: 48px;
            height: 48px;

            font-size: 0;

            border: 3px solid $accent;
            border-radius: 50%;
        }
        .slick-prev {
            right: 600px;
            
            background-image: url("../images/left-arrow.svg");
            @extend %images;
            background-size: auto;
        }
        .slick-next {
            background-image: url("../images/right-arrow.svg");
            @extend %images;
            background-size: auto;
        }
    }

    &__wrapper {
        max-width: 370px;
        width: 100%;
        height: 268px;

        background-color: #C4C4C4;
    }

}