@import "vars";
@import "fonts";
@import "libs";
@import "reset";
@import "global";



.header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    padding: 28px 0;
    background-color: #040B3C;

    @media(max-width: $xl) {
        padding: calc(18px + (28 - 18) * ((100vw - 575px) / (1200 - 575))) 0;
    }

    @media(max-width: $sm) {
        padding: calc(16px + (18 - 16) * ((100vw - 320px) / (1200 - 320))) 0 calc(8px + (18 - 8) * ((100vw - 320px) / (1200 - 320)));
    }
}

.logo {
    display: inline-block;
    &__img {
        max-width: 171px;
        width: 100%;
        @media(max-width: $xl) {
          max-width: calc(101px + (171 - 101) * ((100vw - 320px) / (1200 - 320)));
        }
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__btn {
        position: absolute;
        top: 19px;
        right: 16px;

        display: none;
        width: 24px;
        height: 24px;

        background-image: url("../images/menu-btn.svg");
        @extend %images;

        @media(max-width: $sm) {
            display: inline-block;
        }
    }

    & &__list {
        display: flex;

        @media(max-width: $sm) {
            position: absolute;
            top: calc(60.02px + (70.72 - 60.02) * ((100vw - 320px) / (575 - 320)));
            left: 0;
            
            display: inline-block;
            width: 100%;
            padding: 35px 18px;

            border-top: 1px solid #ffffff;
            background-color: #040C3E;
    
            transition: transform 0.5s;

            transform: translateY(-250px);
    
            &--active {
                transform: translateY(0);
            }
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: 55px;
            @media(max-width: $xl) {
              margin-right: calc(16px + (55 - 16) * ((100vw - 575px) / (1200 - 575)));
            }
        }

        &:last-child {
            a {
                color: $accent;
                text-transform: uppercase;

                border-bottom: 1px solid transparent;
                &:hover {
                    border-color: $accent;
                }
            }
        }
    }

    &__link {
        @extend %rubik-500;
        font-size: 14px;
        line-height: 1;
        color: $primary;

        transition: color 0.3s, border-color 0.3s;

        &:hover {
            color: $accent;
        }

        @media(max-width: $xl) {
            font-size: calc(12px + (14 - 12) * ((100vw - 575px) / (1200 - 575)));
        }
    }

    &__accent {
        color: $accent;
    }
}

.hero {
    position: relative;

    background-image: url("../images/hero-bg.png");
    @extend %images;

    @media(max-width: $sm) {
        background-image: url("../images/hero-bg-sm.png");
        background-position: top;
        background-size: contain;
    }

    &::before {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: 100%;
    }

    &__top {
        margin-bottom: 200px;
        padding-top: 16px;
        color: $primary;
        @media(max-width: $xl) {
            margin-bottom: calc(80px + (200 - 80) * ((100vw - 320px) / (1200 - 320)));
            padding-top: calc(36px + (16 - 36) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__img {
        max-width: 770px;
        width: 100%;
        margin-bottom: 15px;

        @media(max-width: $xl) {
            max-width: calc(263px + (770 - 263) * ((100vw - 320px) / (1200 - 320)));
            margin-bottom: calc(17px + (15 - 17) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__inner {
        max-width: 500px;
    }

    &__title {
        margin-bottom: 20px;

        @extend %rubik-500;
        font-size: 24px;
        line-height: 1.2;

        @media(max-width: $xl) {
            margin-bottom: calc(14px + (20 - 14) * ((100vw - 320px) / (1200 - 320)));
            font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__text {
        margin-bottom: 55px;

        @extend %rubik-300;
        font-size: 24px;
        line-height: 1.2;

        @media(max-width: $xl) {
            margin-bottom: calc(30px + (55 - 30) * ((100vw - 320px) / (1200 - 320)));
            font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__datetime {
        margin-bottom: 55px;

        @extend %rubik-700;
        font-size: 36px;
        line-height: 1.2;

        @media(max-width: $xl) {
            margin-bottom: calc(30px + (55 - 30) * ((100vw - 320px) / (1200 - 320)));
            font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__date {
        margin-right: 24px;
        padding-right: 27px;
        border-right: 3px solid $accent;

        @media(max-width: $xl) {
            margin-right: calc(10px + (27 - 10) * ((100vw - 320px) / (1200 - 320)));
            padding-right: calc(14px + (27 - 14) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__btn {
        max-width: 310px;
        height: 63px;
        
        @media(max-width: $xl) {
            max-width: calc(288px + (310 - 288) * ((100vw - 320px) / (1200 - 320)));
            height: calc(49px + (63 - 49) * ((100vw - 320px) / (1200 - 320)));
        }
    }
}

.hero-info {
    color: $primary;

    &__title {
        margin-bottom: 80px;
        @media(max-width: $xl) {
            margin-bottom: calc(40px + (80 - 40) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__wrapper {
        display: grid;
        grid-template: repeat(2, 100px) / repeat(2, 1fr);
        gap: 30px;

        @media(max-width: $xl) {
            gap: calc(12px + (30 - 12) * ((100vw - 320px) / (1200 - 320)));
        }

        @media(max-width: $sm) {
            grid-template: repeat(4, 80px) / 1fr;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        padding: 0 20px;

        border: 3px solid #333C72;
        border-radius: 8px;

        @media(max-width: $xl) {
            padding: 0 calc(14px + (20 - 14) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__text {
        position: relative;

        padding-left: 33px;

        @extend %rubik-700;
        line-height: 1.2;

        &::before {
            content: "";
            position: absolute;
            left: 0;

            width: 24px;
            height: 24px;

            background-image: url("../images/check-square.svg");
            @extend %images;
        }

        @media(max-width: $xl) {
            padding-left: calc(30px + (33 - 30) * ((100vw - 320px) / (1200 - 320)));
            font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__text-name {
        @extend %rubik-300;
    }
}

.info {
    padding: 200px 0 145px;

    @media(max-width: $xl) {
        padding: calc(80px + (200 - 80) * ((100vw - 320px) / (1200 - 320))) 0 calc(60px + (145 - 60) * ((100vw - 320px) / (1200 - 320)));
    }

    &__title {
        margin-bottom: 65px;
        @media(max-width: $xl) {
            margin-bottom: calc(40px + (65 - 40) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__wrapper {
        display: grid;
        grid-template: repeat(2, 100px) / repeat(3, 1fr);
        gap: 40px 5px;
        color: $primary;

        @media(max-width: $xl) {
            row-gap: calc(18px + (40 - 18) * ((100vw - 320px) / (1200 - 320)));
        }

        @media(max-width: $lg) {
            grid-template: repeat(3, 100px) / repeat(2, 1fr);
        }

        @media(max-width: $sm) {
            grid-template: repeat(6, minmax(40px, auto)) / 1fr;
            column-gap: 0;
        }
    }

    &__item {
        padding: 0 80px;

        @extend %images;
        background-position: left top;
        background-size: 56px 56px;

        @media(max-width: $xl) {
            padding: 0 calc(0px + (80 - 0) * ((100vw - 320px) / (1200 - 320))) 0 calc(46px + (80 - 46) * ((100vw - 320px) / (1200 - 320)));

            background-size: calc(36px + (56 - 36) * ((100vw - 320px) / (1200 - 320))) calc(38px + (56 - 38) * ((100vw - 320px) / (1200 - 320)));
        }

        &--1 {
            background-image: url("../images/info-item1.svg");
        }

        &--2 {
            background-image: url("../images/info-item2.svg");
        }

        &--3 {
            padding-right: 0;
            background-image: url("../images/info-item3.svg");
        }

        &--4 {
            padding-right: 0;
            background-image: url("../images/info-item4.svg");
        }

        &--5 {
            background-image: url("../images/info-item5.svg");
        }

        &--6 {
            padding-right: 0;
            background-image: url("../images/info-item6.svg");
        }
    }

    &__text {
        @media(max-width: $xl) {
            font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1200 - 320)));
        }
    }
}

.location {
    padding: 140px 0;

    background-image: url("../images/location-bg.png");
    @extend %images;

    @media(max-width: $xl) {
        padding: calc(60px + (140 - 60) * ((100vw - 320px) / (1200 - 320))) 0;
    }

    &__title {
        margin-bottom: 74px;

        @media(max-width: $xl) {
            margin-bottom: calc(40px + (74 - 40) * ((100vw - 320px) / (1200 - 320)));
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 63px 98px 70px 89px;

        border-radius: 20px;
        background-color: $primary;

        @media(max-width: $xl) {
            padding: calc(40px + (63 - 40) * ((100vw - 320px) / (1200 - 320))) calc(18px + (98 - 18) * ((100vw - 320px) / (1200 - 320))) calc(40px + (70 - 40) * ((100vw - 320px) / (1200 - 320))) calc(18px + (89 - 18) * ((100vw - 320px) / (1200 - 320)));
        }

        @media(max-width: $lg) {
            flex-direction: column;
            justify-content: center;
            max-width: calc(290px + (650 - 290) * ((100vw - 320px) / (1200 - 320)));
            margin: 0 auto;
        }
    }

    &__inner {
        max-width: 500px;
        margin-right: 20px;
    }

    &__text {
        margin-bottom: 27px;
        p {
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }

        @media(max-width: $xl) {
            margin-bottom: calc(20px + (27 - 20) * ((100vw - 320px) / (1200 - 320)));
            font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1200 - 320)));

            p {
                &:not(:last-child) {
                    margin-bottom: calc(12px + (16 - 12) * ((100vw - 320px) / (1200 - 320)));
                }
            }
        }
    }

    &__btn {
        max-width: 310px;
        height: 63px;

        @media(max-width: $xl) {
            max-width: calc(254px + (310 - 254) * ((100vw - 320px) / (1200 - 320)));
        }

        @media(max-width: $lg) {
            margin-bottom: 35px;
        }
    }

    


}